<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure style="display: flex; gap: 5px;">
      <img src="/img/logo-DH.png" alt="Logo Digital House" onclick="toggleMenu()" style="cursor:pointer">
      <ul id="menu" class="hiddenElement">
          <li><a href="https://www.youtube.com/watch?v=FLoAVCCrp_E">one</a></li>
          <li><a href="https://www.youtube.com/watch?v=FLoAVCCrp_E">two</a></li>
          <li><a href="https://www.youtube.com/watch?v=FLoAVCCrp_E">three</a></li>
          <li><a href="https://www.youtube.com/watch?v=FLoAVCCrp_E">four</a></li>
        </ul>
    </figure>
    
    
    
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <p><a href="/movies">Listado de Películas</a></p>
  </body>
</html>
<script src="/js/index.js"></script>
